@import './variables';

.pageStyleWordLight{
    font-weight: bold;
    color: $innerNebulaLight;
}

.pageStyleWordDark{
    font-weight: bold;
    color: $innerNebulaDark;
    filter: brightness(150%);
}
