@import './partials/variables';
@import './partials/_classes.scss';
@import '~bootstrap/scss/bootstrap.scss';

*{
    font-family: $mainFont;
    scroll-behavior: smooth;
    color: white;
}

::-webkit-scrollbar-track{
    background-color: $outerSpaceDark;
}
::-webkit-scrollbar{
    width: .45rem;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: $innerNebulaLight;
}



